RewriteEngine on
RewriteCond %{HTTP_HOST} rompopecarmelita\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://rompopecarmelita.com/$1 [R,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
Options All -Indexes
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)$ index.html?views=$1
ErrorDocument 404 /404.html
